.container{
   display:flex;
   flex-direction:column;
   width:800px;
   margin: auto;
}

.key{
  border: 1px solid #aaa;
  border-radius: 0px;
  padding: 20px 0px;
  background: #ddd;
  outline: orangered;
  margin: 0px;
  flex: 1;
  min-width: 50px;

}

.key:active{
  background: #ccc;
}

.key-container{
  display: flex;
  flex-wrap: wrap;
}

.app-header{
  text-align: center;
}

.key-path{

  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 15px 0px;
  background:dodgerblue;
  outline: orangered;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  flex: 1;
  min-width: 80px;
}
.key-path:active{
  background: #ccc;
}